services:
  dev:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    image: fswiki-dev-server:latest
    
    volumes:
      - .:/app
      # インストールしたモジュール(local/)を永続化
      - perl_modules:/app/local
    ports:
      - "5001:8080"
    networks:
      fswiki_dev_net:
    environment: # devサービスからmysqlサービスに接続するための環境変数を追加
      - TZ=Asia/Tokyo
      - ROOT_PASSWORD=fswiki2021
      - DB_DRIVER=mysql
      - DB_HOST=fswiki-mysql-dev
      - DB_NAME=fswiki_test
      - DB_USER=${root:-root}
      - DB_PASS=${DB_PASS:-password}
      - PERL5LIB=/app/local/lib/perl5:/app/local/lib/perl5/x86_64-linux-gnu
      - PATH=/usr/local/bin:/app/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    working_dir: /app
    depends_on:
      mysql:
        condition: service_healthy
  mysql:
    container_name: fswiki-mysql-dev
    image: mysql:8.0
    platform: linux/amd64
    networks:
      fswiki_dev_net:
    
    volumes:
      - mysql-dev-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
      - MYSQL_DATABASE=fswiki_test
    healthcheck:
      test: ["CMD", "mysql", "--protocol=tcp", "-h", "localhost", "-u", "root", "-ppassword", "-e", "SELECT 1"]
      timeout: 60s
      retries: 30

volumes:
  perl_modules:
  mysql-dev-data:


networks:
  fswiki_dev_net:
    driver: bridge
