
services:
  wiki:
    build:
      context: .
      dockerfile: ./docker/debian/Dockerfile
    image: fswiki-wiki-server:latest
    hostname: fswiki-wiki-server
    volumes:
      - .:/app
      - local-deps:/app/local
    ports:
      - "5001:8080"
    networks:
      fswiki_net:
    environment:
      - TZ=Asia/Tokyo
      - ROOT_PASSWORD=fswiki2021
      - DB_DRIVER=mysql
      - DB_HOST=mysql
      - DB_NAME=fswiki
      - DB_USER=${DB_USER:-root}
      - DB_PASS=${DB_PASS:-password}
      - PERL5LIB=/app/local/lib/perl5:/app/local/lib/perl5/x86_64-linux-gnu
      - PATH=/usr/local/bin:/app/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      #- PRIMARY_HOST=localhost:5001
      #- CUSTOM_DOMAIN=fswiki.example.com
    command: ./env-exec /app/local/bin/starman --listen :8080 app.psgi
    working_dir: /app
    depends_on:
      mysql:
        condition: service_healthy
  mysql:
    image: mysql:8.0
    platform: linux/amd64
    hostname: fswiki-db-server
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      fswiki_net:
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
      - MYSQL_DATABASE=fswiki
    healthcheck:
      test: ["CMD", "mysql", "--protocol=tcp", "-h", "localhost", "-u", "root", "-ppassword", "-e", "SELECT 1"]
      timeout: 60s
      retries: 30

volumes:
  run:
  mysql-data:
  local-deps: {}

networks:
  fswiki_net:
    driver: bridge
