services:
  wiki:
    build:
      context: .
      dockerfile: ./docker/debian/Dockerfile
    image: fswiki-wiki-server:latest
    hostname: fswiki-wiki-server
    restart: always
    volumes:
      - /opt/fswiki/config:/app/config
      - /opt/fswiki/data:/app/data
      - /opt/fswiki/log:/app/log
      - /opt/fswiki/attach:/app/attach
      - /opt/fswiki/backup:/app/backup
    environment:
      - TZ=Asia/Tokyo
    command: ./env-exec /app/local/bin/starman --listen :8080 app.psgi
    working_dir: /app

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - wiki
