[program:fswiki]
environment =
    PATH="/home/{{ exec_user }}/perl5/perlbrew/bin:/home/{{ exec_user }}/perl5/perlbrew/perls/{{ perl_version }}/bin:$PATH",
    PERL5LIB="/home/{{ exec_user }}/.perlbrew/libs/{{ perl_version }}@carton/lib/perl5",
    PERLBREW_HOME="/home/{{ exec_user }}/.perlbrew",
    PERLBREW_LIB="carton",
    PERLBREW_PATH="/home/{{ exec_user }}/.perlbrew/libs/{{ perl_version }}@carton/bin:/root/perl5/perlbrew/bin:/root/perl5/perlbrew/perls/{{ perl_version }}/bin",
    PERLBREW_PERL="{{ perl_version }}",
    PERLBREW_ROOT="/home/{{ exec_user }}/perl5/perlbrew"

directory=/home/fswiki/{{ exec_user }}
command = /bin/bash -c "carton exec local/bin/start_server --daemonize --log-file=/tmp/fswiki.log --pid-file=/tmp/fswiki.pid --status-file=/tmp/fswiki.status -- starman --workers 4 app.psgi"

user = {{ exec_user }}
startsecs = 0
autorestart = false

stdout_logfile =/var/log/supervisor/fswiki.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=5
stdout_capture_maxbytes=1MB
redirect_stderr=true
