<form action="<!--TMPL_VAR 'SCRIPT_NAME'-->" method="post">
<!--=========================================================================-->
<!-- 管理画面（プラグインの別名設定） -->
<!--=========================================================================-->

<h2>プラグインの別名設定</h2>

<h3>設定一覧</h3>
<p>
左から、「別名」、「プラグイン名」、「パラメータ」です。<br>
必要に応じて追加／修正／削除し、保存ボタンをクリックしてください。<br>
<span style="color:#ff0000;">※別名は @ を先頭に付加してください。</span>
<div style="margin-left:1em;">
<!--TMPL_LOOP 'ITEM'-->
<div id="item_<!--TMPL_VAR 'NUM'-->">
  <span nowrap><input type="button" style="width:50px" value="削除" onclick="document.getElementById('item_<!--TMPL_VAR 'NUM'-->').innerHTML='';"></span>
  <span nowrap><input type="text" style="width:80px" name="alias" value="<!--TMPL_VAR 'ALIAS'-->"></span>
  <span nowrap><input type="text" style="width:100px" name="plugin" value="<!--TMPL_VAR 'PLUGIN'-->"></span>
  <span nowrap><input type="text" style="width:300px" name="params" value="<!--TMPL_VAR 'PARAMS'-->"></span>
</div>
<!--/TMPL_LOOP-->
<div id="add"></div>
<script type="text/javascript">
num=<!--TMPL_VAR 'NUM_ADD'-->;
function add(){
	id = document.getElementById('add');
	src =
 '<div id="item_'+num+'">\n'
+'  <span nowrap><input type="button" style="width:50px" value="削除" onclick="document.getElementById(\'item_'+num+'\').innerHTML=\'\';"></span>\n'
+'  <span nowrap><input type="text" style="width:80px" name="alias" value=""></span>\n'
+'  <span nowrap><input type="text" style="width:100px" name="plugin" value=""></span>\n'
+'  <span nowrap><input type="text" style="width:300px" name="params" value=""></span>\n'
+'</div>\n'
+'<div id="add"></div>\n';
	if (id.outerHTML) id.outerHTML = src;
	else              id.innerHTML = src;
	num++;
}
</script>
<noscript>
<div id="item_<!--TMPL_VAR 'NUM_ADD'-->">
  <span nowrap><input type="button" style="width:50px" value="削除" onclick="document.getElementById('item_<!--TMPL_VAR 'NUM_ADD'-->').innerHTML='';"></span>
  <span nowrap><input type="text" style="width:80px" name="alias" value=""></span>
  <span nowrap><input type="text" style="width:100px" name="plugin" value=""></span>
  <span nowrap><input type="text" style="width:300px" name="params" value=""></span>
</div>
<div id="tradd"></div>
</noscript>

<script type="text/javascript">
document.write('<input type="button" style="margin-top:.5em;width:50px" value="追加" onclick="add();">');
</script>
</div>

</p>
<p>
  <input name="SAVE" value="設定を保存" type="submit">
  <input value="リセット" type="reset">
</p>
<input name="action" value="ADMINLAYOUTALIAS" type="hidden">
</form>
