<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <!--TMPL_IF NAME="THEME_CSS"-->
    <link rel="stylesheet" type="text/css" href="<!--TMPL_VAR NAME="THEME_CSS"-->">
    <!--/TMPL_IF-->
    <title><!--TMPL_VAR 'TITLE'--></title>
  </head>
  <body>
    <div style="">
      <!--TMPL_VAR 'MESSAGE'-->
    </div>
    <!--TMPL_VAR 'CONTENTS'-->
  </body>
</html>
