<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : 段組を行う
-- PARAMETER   : width    , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : height   , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : pos      , /^(left|right)$/
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!!! 利用方法
!! 例）二段組：以下の例では大きな枠内に小さな(50%幅)枠を表示する
 {{layout cols,width:100%
 //----------
 {{layout cols,width:50%
 〜 Wikiソース 〜
 }}
 //----------
 {{layout cols,width:50%
 〜 Wikiソース 〜
 }}
 //----------
 }}
 // 段組解除
 {{ilayout clear}}
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->

<!--TMPL_IF NAME="IS_FIRST_TMPL"-->
<!--FSWIKI_HEAD_INFO-->
<style>
<!--
div.layout_cols {
	border:#ffffff 0px solid;
	border-width:0px 1px;
	word-break: break-all;
	float:left;
}
-->
</style>
<!--/FSWIKI_HEAD_INFO-->
<!--/TMPL_IF-->
<div class="layout_cols" style="<!--TMPL_IF 'width'-->width:<!--TMPL_VAR 'width'-->;<!--/TMPL_IF--><!--TMPL_IF 'height'-->height:<!--TMPL_VAR 'height'-->;<!--/TMPL_IF--><!--TMPL_IF 'pos'-->float:<!--TMPL_VAR 'pos'-->;<!--/TMPL_IF-->">
<!--TMPL_VAR 'SOURCE'-->
</div>
