<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : 枠の作成用
-- PARAMETER   : class  , /^([\w_]+)$/
-- PARAMETER   : width  , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : height , /^([0-9\.]+)(pt|px|em|%)?$/
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!!! 利用方法
 {{layout div,class:layout_div1,width:50%
 〜Wikiソース〜
 }}
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->
<div <!--TMPL_IF NAME="class"-->class="<!--TMPL_VAR NAME="class"-->"<!--/TMPL_IF--> style="<!--TMPL_IF NAME="width"-->width:<!--TMPL_VAR NAME="width"-->;<!--/TMPL_IF--><!--TMPL_IF NAME="height"-->height:<!--TMPL_VAR NAME="height"-->;<!--/TMPL_IF-->">
<!--TMPL_VAR NAME="SOURCE"-->
</div>
