<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : テキストのサイズを指定します。
-- PARAMETER   : size , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : text , /^([^<>;,]+)$/
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!!! 利用方法
::インラインで利用する場合
 {{ilayout fontsize,size:6em,text:サンプル}}

::ブロック単位で利用する場合
 {{layout fontsize,size:6em
 〜Wikiソース〜
 }}
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->
<span style="font-size:<!--TMPL_VAR NAME='size'-->"><!--TMPL_VAR NAME='text'--><!--TMPL_VAR NAME='SOURCE'--></span>
