<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : テキストのフォント属性を指定します。
-- PARAMETER   : color     , /^#[0-9a-zA-Z]+$/
-- PARAMETER   : bgcolor   , /^#[0-9a-zA-Z]+$/
-- PARAMETER   : size      , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : family    , /^.+$/
-- PARAMETER   : bold      , //
-- PARAMETER   : italic    , //
-- PARAMETER   : underline , //
-- PARAMETER   : overline  , //
-- PARAMETER   : line-through , //
-- PARAMETER   : blink     , //
-- PARAMETER   : padding       , /^(([0-9\.]+)(pt|px|em|%)? ?)+$/
-- PARAMETER   : padding-top   , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : padding-right , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : padding-bottom, /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : padding-left  , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : margin        , /^(([0-9\.]+)(pt|px|em|%)? ?)+$/
-- PARAMETER   : margin-top    , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : margin-right  , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : margin-bottom , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : margin-left   , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : text      , /^([^<>;,]+)$/
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!! 利用方法
::インラインで利用する場合
 {{ilayout font,color:#ff0000,size:6em,family:ＭＳ ゴシック,text:サンプル}}

::ブロック単位で利用する場合
 {{layout font,color:#ff0000,size:6em,family:ＭＳ ゴシック
 〜Wikiソース〜
 }}

!!利用可能なオプション
:: text
::: 表示する文字列を指定します。
:: color
::: 色の指定を #ffffff 形式で行います。
:: bgcolor
::: 背景色の設定を #ffffff 形式で行います。
:: size
::: font-size の設定を pt,px,em,% 単位で指定します。
:: family
::: font-family の設定を行います。
:: bold
::: font-weight:bold; の設定を行います。値の指定はできません。
:: italic
::: font-style:italic; の設定を行います。値の指定はできません。
:: underline
::: text-decoration:underline; の設定を行います。値の指定はできません。
:: overline
::: text-decoration:overline; の設定を行います。値の指定はできません。
:: line-through
::: text-decoration:line-through; の設定を行います。値の指定はできません。
:: blink
::: text-decoration:blink; の設定を行います。値の指定はできません。
:: padding, padding-top, padding-right, padding-bottom, padding-left
::: padding の設定を pt,px,em,% 単位で行います。
:: margin, margin-top, margin-right, margin-bottom, margin-left
::: margin の設定を pt,px,em,% 単位で行います。
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->
<span style="<!--TMPL_IF NAME='color'-->color:<!--TMPL_VAR NAME='color'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='bgcolor'-->background-color:<!--TMPL_VAR NAME='bgcolor'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='size'-->font-size:<!--TMPL_VAR NAME='size'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='family'-->font-family:<!--TMPL_VAR NAME='family' ESCAPE=HTML-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='bold'-->font-weight:bold;<!--/TMPL_IF--
><!--TMPL_IF NAME='italic'-->font-style:italic;<!--/TMPL_IF--
><!--TMPL_IF NAME='underline'-->text-decoration:<!--TMPL_ELSE--
><!--TMPL_IF NAME='overline'-->text-decoration:<!--TMPL_ELSE--
><!--TMPL_IF NAME='line_through'-->text-decoration:<!--TMPL_ELSE--
><!--TMPL_IF NAME='blink'-->text-decoration:<!--/TMPL_IF--><!--/TMPL_IF--><!--/TMPL_IF--><!--/TMPL_IF--
><!--TMPL_IF NAME='underline'--> underline<!--/TMPL_IF--
><!--TMPL_IF NAME='overline'--> overline<!--/TMPL_IF--
><!--TMPL_IF NAME='line-through'--> line-through<!--/TMPL_IF--
><!--TMPL_IF NAME='blink'--> blink<!--/TMPL_IF--
><!--TMPL_IF NAME='underline'-->;<!--TMPL_ELSE--
><!--TMPL_IF NAME='overline'-->;<!--TMPL_ELSE--
><!--TMPL_IF NAME='line_through'-->;<!--TMPL_ELSE--
><!--TMPL_IF NAME='blink'-->;<!--/TMPL_IF--><!--/TMPL_IF--><!--/TMPL_IF--><!--/TMPL_IF--
><!--TMPL_IF NAME='padding'-->padding:<!--TMPL_VAR 'padding'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='padding-top'-->padding-top:<!--TMPL_VAR 'padding-top'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='padding-right'-->padding-right:<!--TMPL_VAR 'padding-right'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='padding-bottom'-->padding-bottom:<!--TMPL_VAR 'padding-bottom'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='padding-left'-->padding-left:<!--TMPL_VAR 'padding-left'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='margin'-->margin:<!--TMPL_VAR 'margin'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='margin-top'-->margin-top:<!--TMPL_VAR 'margin-top'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='margin-right'-->margin-right:<!--TMPL_VAR 'margin-right'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='margin-bottom'-->margin-bottom:<!--TMPL_VAR 'margin-bottom'-->;<!--/TMPL_IF--
><!--TMPL_IF NAME='margin-left'-->margin-left:<!--TMPL_VAR 'margin-left'-->;<!--/TMPL_IF-->"><!--TMPL_VAR NAME='text'--><!--TMPL_VAR NAME='SOURCE'--></span>
