<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : ログイン情報の表示
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!!!利用方法
 {{ilayout login_info}}
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->
<!--TMPL_IF NAME="LOGIN"-->
<p>
ログイン情報：<!--TMPL_VAR NAME="LOGIN_ID"-->（<!--TMPL_IF NAME="LOGIN_TYPE"-->一般<!--TMPL_ELSE-->管理者<!--/TMPL_IF-->）
<p>
<!--/TMPL_IF-->

