<!--TMPL_IF LAYOUT--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : ログイン用のフォームを表示
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!!!利用方法
 {{ilayout login_form}}
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF LAYOUT-->
<h3>IDとパスワードを入力してください</h3>
<form action="<!--TMPL_VAR NAME="SCRIPT_NAME" -->" method="POST">
  <table>
    <tr><th>ID</th><td><input type="text" name="id"></td></tr>
    <tr><th>Pass</th><td><input type="password" name="pass"></td></tr>
  </table><br>
  <input type="submit" name="login"  value="ログイン">
  <input type="hidden" name="action" value="LOGIN">
</form>

