<!--TMPL_IF--><!--
-- LAYOUTINFO_START
-- =========================================================================
-- TITLE       : 枠の作成用
-- PARAMETER   : class  , /^([\w_]+)$/
-- PARAMETER   : width  , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : height , /^([0-9\.]+)(pt|px|em|%)?$/
-- PARAMETER   : pos    , /^(left|center|right)$/
-- PARAMETER   : left   , /^([0-9\.]+)(pt|px|em)?$/
-- PARAMETER   : right  , /^([0-9\.]+)(pt|px|em)?$/
-- PARAMETER   : float  , /^(left|right)$/
-- PARAMETER   : override, //
-- -------------------------------------------------------------------------
-- HELP_START <= ヘルプ画面に表示する簡単な説明(WIKIフォーマット)
!! 利用方法
 {{layout position[,表示位置オプション]
 〜Wikiソース〜
 }}
:: 表示オプションは以下の通り
* class:クラス名
* width:幅(pt,px,em,%)
* height:高(pt,px,em,%)
* pos:表示位置(left:center:right)
* left:左マージン(pt,px,em)
* right:右マージン(pt,px,em)
* float:右マージン(left,right)
-- HELP_END
-- =========================================================================
-- LAYOUTINFO_END
--><!--/TMPL_IF-->
<div<!--TMPL_IF 'class'--> class="<!--TMPL_VAR 'class'-->"<!--/TMPL_IF--><!--TMPL_IF 'pos'--> align="<!--TMPL_VAR 'pos'-->"<!--/TMPL_IF--> style="<!--TMPL_IF 'override'-->margin:0;padding:0;<!--/TMPL_IF--><!--TMPL_IF 'width'-->width:<!--TMPL_VAR 'width'-->;<!--/TMPL_IF--><!--TMPL_IF 'height'-->height:<!--TMPL_VAR 'height'-->;<!--/TMPL_IF--><!--TMPL_IF 'left'-->margin-left:<!--TMPL_VAR 'left'-->;<!--/TMPL_IF--><!--TMPL_IF 'right'-->margin-right:<!--TMPL_VAR 'right'-->;<!--/TMPL_IF--><!--TMPL_IF 'float'-->float:<!--TMPL_VAR 'float'-->;<!--/TMPL_IF-->">
<!--TMPL_VAR NAME="SOURCE"-->
</div>
