name: Run Unit Tests

on:
  push:
    branches:
      - '**'

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build dev container image
        run: docker compose -f docker-compose.dev.yml build dev
      - name: Start dev container
        run: docker compose -f docker-compose.dev.yml up -d dev
      - name: Install dependencies in dev container
        run: docker compose -f docker-compose.dev.yml exec dev carton install
      - name: Run tests in dev container
        run: docker compose -f docker-compose.dev.yml exec dev prove -l -Iplugin t